{% extends '@SurvosStep/castor/_logger_layout.html.twig' %}
{% block title %}Castor Steps{% endblock %}

{% block body %}

  {% types {
    photo: "array{
    id: int,
    title: string,
    description: string,
    imageUrl: string,
    thumbnailUrl: string,
    dateTaken: string,
    photographer: string,
    tags: array,
    location: array{
      city: string,
      country: string,
      latitude: float,
      longitude: float
    }
  }",
    collection: "array{
    name: string,
    totalItems: int
  }"
  } %}



  <div style="max-width: 800px; margin: 2rem auto; font-family: system-ui, sans-serif;">
    <h1>Available Castor Runners</h1>

    <a href="{{ path('run_castor') }}">Interactive Run Castor</a>
    <a href="{{ path('survos_castor_logs_index') }}">Logs</a>


    {% for html in ['easyadmin','example','ordered-elements','amsterdam','slides/meili-amsterdam'] %}
      <a href="/{{ html }}.html" target="_blank">{{ html }}</a>
    {% endfor %}


    {% if slideshows is empty %}
      <p>No <code>*.castor.php</code> files found (searched one level above the app).</p>
    {% else %}
      <ul>
        {% for s in slideshows %}
          <li style="margin: .5rem 0;">
            <code>{{ s.code }}</code>
            &nbsp;—&nbsp;
            <a href="{{ path('survos_step_slideshow', { code: s.code }) }}">Slideshow</a>
            &nbsp;—&nbsp;
            <a href="{{ path('survos_step_markdown', { code: s.code }) }}">As Documention</a>
            <a href="{{ path('survos_step_slides', { code: s.code }) }}">Overview</a>
            <a href="{{ path('survos_step_slides', { debug: true, code: s.code }) }}">Overview/Debug</a>
            &nbsp;|&nbsp;
            <a href="{{ path('survos_step_json',   { code: s.code }) }}" target="_blank">JSON</a>
            <a href="{{ path('survos_castor_logs_show',   { code: s.code }) }}" target="_blank">Logs</a>
            <div style="color:#777; font-size:.9em;">{{ s.path }}</div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
