{# file: templates/step/slides.html.twig — Reveal + HUD (Stimulus) #}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/asciinema-player@3.8.0/dist/bundle/asciinema-player.min.css"/>

    <title>{{ code|default('Steps') }} — Slides</title>

    <!-- Reveal theme CSS -->
    <link rel="stylesheet" href="https://unpkg.com/reveal.js@5/dist/reveal.css">
    <link rel="stylesheet" href="https://unpkg.com/reveal.js@5/dist/theme/white.css" id="theme">

    {# External slideshow CSS #}
    <link rel="stylesheet" href="{{ asset('bundles/survosstep/slides.css') }}">

    {% block javascripts %}
        {#            <script src="https://cdn.jsdelivr.net/npm/asciinema-player@3.8.0/dist/bundle/asciinema-player.min.js"></script> #}
        {#            <script type="module"> #}
        {#                console.log("Player"); #}

        {#                // Create player #}
        {#            </script> #}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>

{% set _sc = '@survos/step-bundle/reveal' %}
<div class="reveal" {{ stimulus_controller(_sc, { code: code, jsonUrl: json_url, theme: 'light' }) }}>
    <div class="slides">
        {# Optional intro slide #}
        <section class="title-slide">
            <div style="text-align: center;">
                <img src="{{ asset('sfcon_logo.svg') }}" style="max-width: 400px; height: auto; margin-bottom: 2em;" alt="SymfonyCon Amsterdam 2025" />
                <h1 style="font-size: 1.6em; font-weight: bold; color: #333; line-height: 1.3; margin-bottom: 0.5em;">
                    Keyword, Facet and Semantic Searching<br>with Meilisearch and Symfony
                </h1>
                <p style="font-size: 1.3em; color: #666; margin-top: 1em;">Tac Tacelosky</p>
            </div>
        </section>
        {% if false %}
            <section data-next-hint="Explain this step">
                <div class="slide-wrapper">
                <div class="slide-container">
                    <div class="slide-shell">
                        <header class="slide-header">
                            <h2 class="slide-task">Create a Symfony Web App</h2>
                            <div class="slide-step">bash</div>
                        </header>
                        <div class="slide-content">
                            <div class="action action-generic card mb-3">
                                <div class="card-body">
                                        <pre>
                                            <code class="language-bash" data-trim data-noescape>
                                                symfony new {{ code }}-demo --webapp --version=7.3
                                                cd {{ code }}-demo
                                                symfony proxy:domain:attach {{ code }}
                                                symfony server:start -d
                                                open https://{{ code }}.wip
                                            </code>
                                        </pre>
                                </div>
                            </div>
                            <div class="action action-generic card">
                                <div class="card-header">
                                    <span class="fw-bold">Player Demo</span>
                                </div>
                                <div class="card-body">
                                    <div id="demo"></div>
                                </div>
                            </div>

                            {#                            <asciinema-player src="/test.cast"></asciinema-player> #}
                        </div>
{#                        <div class="slide-footer"></div>#}
{#                        <footer class="slide-footer">#}
{#                            <img src="{{ asset('sfcon_logo.svg') }}" class="slide-footer-logo" alt="SymfonyCon" />#}
{#                        </footer>#}
                    </div>
                </div>
                </div>
            </section>
        {% endif %}

        {# Real slides (flattened server-side) #}
        {% for slide in slides|default([]) %}
        {% set slideTitle = slide.title|default(slide.task.description) %}
        {% set taskName   = slide.task_name|default(code) %}
        {% set __task_name  = taskName %}
        {% set __step_title = slideTitle %}
        <section data-task-name="{{ taskName|e('html_attr') }}"
                 data-next-hint="{{ slide.next_hint|default('Explain this step') }}">

            <div class="slide-container">

                <div class="slide-shell">
                    <header class="slide-header">
                        <h2 class="slide-task">{{ taskName }}</h2>
                        <div class="slide-step">{{ slideTitle }}</div>
                    </header>
                    <div class="slide-content">
                        {% set step = slide.step %}
                        {% set task = slide.task %}
                        {% if slide.description %}
                            <p class="slide-description">{{ slide.description }}</p>
                        {% endif %}
                        {# bullets are now on side! #}
                        {% if false and slide.bullets %}
                            <ul class="slide-bullets">
                                {% for b in slide.bullets %}
                                    <li class="fragment custom">{{ b }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if step and step.actions %}
                            {% for a in step.actions %}
                            {% if a.display is defined %}
                                {% set display = a.display %}
                            {% else %}
                                {% set display = true %}
                            {% endif %}
                            {% if display %}
                            {# Step {{ loop.index }} {{ a|short_class }} #}
                            {% set fade = loop.index > 1 %}
                            {# it's in abstract, so this isn't right #}
                            {% if a.fade is not null %}
                                {% set fade = a.fade %}
                            {% else %}

                            {% endif %}

                            {#                                <code>{{ a|short_class }}</code> #}

                            <div class="{{ fade ? 'fragment' }}">
                                {{ render_action(a, {
                                    loop: loop})|raw }}

                            </div>
                            {#                                {% if a.noop %} #}
                            {#                                {% else %} #}
                            {#                                    <div class="action action-{{ (a.lang ?? a.language ?? a.type ?? 'text')|lower }} {{ loop.index > 1 ? 'fragment' }}"> #}
                            {#                                        {{ render_action(a)|raw }} #}
                            {#                                    </div> #}
                            {#                                {% endif %} #}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <footer class="slide-footer">
                        <img src="{{ asset('sfcon_logo.svg') }}" class="slide-footer-logo" alt="SymfonyCon" />
                    </footer>

                </div>

                {% if false %}
                <div class="slide-aside">
                    <ul class="slide-bullets">
                        {% if slide.bullets %}
                            {% for b in slide.bullets %}
                                <li class="fragment custom">{{ b }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                {% endif %}

            </div>

            <aside class="notes">
                Notes for {{ step }}
            </aside>

        </section>
        {% endfor %}
        <section>
            <h1>THANK YOU</h1>
            <div class="contact-info">
                <p><span class="label">SymfonyConnect:</span> @tacman</p>
                <p><span class="label">Slack:</span> @Tac</p>
                <p><span class="label">Email:</span> <a href="mailto:tacman@gmail.com">tacman@gmail.com</a></p>
                <div class="links">
                    <p><span class="label">Demo:</span> <a href="https://meili.survos.com">https://meili.survos.com</a></p>
                    <p><span class="label">Repo:</span> <a href="https://github.com/survos-sites/meili">https://github.com/survos-sites/meili</a></p>
                </div>
            </div>
            <img src="{{ asset('sfcon_logo.svg') }}" />
        </section>
    </div>

</div>

{# HUD inside controller scope #}
<div class="slide-hud" style="display:none">
    {% if app is defined %}
        <a href="{{ path('app_home') }}" class="hud-link">Home</a>
    {% else %}
        <span class="hud-link">Home</span>
    {% endif %}
    <span class="hud-sep">|</span>
    <a {{ stimulus_target(_sc, 'jsonDeckLink') }} href="{{ json_url ?? '#' }}" target="_blank" class="hud-link">JSON
        (deck)</a>
    <span class="hud-sep">|</span>
    <a {{ stimulus_target(_sc, 'jsonSlideLink') }} href="#" target="_blank" class="hud-link" style="display:none">JSON
        (slide)</a>
    <span class="hud-sep">|</span>
    <span {{ stimulus_target(_sc, 'codeLabel') }} class="hud-label">{{ code }}</span>
    <span class="hud-sep">*</span>
    <span {{ stimulus_target(_sc, 'stepLabel') }} class="hud-label">intro</span>
    <button type="button" class="hud-link toggle-overview" title="Toggle Overview Mode"
            onclick="toggleSlidesOverview()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
            <path fill="currentColor"
                  d="M216 40H40a16 16 0 0 0-16 16v144a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V56a16 16 0 0 0-16-16M40 88h80v80H40Zm96-16V56h32v16Zm-16 0H88V56h32Zm0 112v16H88v-16Zm16 0h32v16h-32Zm0-16V88h80v80Zm80-96h-32V56h32ZM72 56v16H40V56ZM40 184h32v16H40Zm176 16h-32v-16h32z"/>
        </svg>
    </button>
    <button type="button" class="hud-link start-over" title="Start Over" onclick="slideStartOver()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor"
                  d="M12 5V2L8 6l4 4V7c3.31 0 6 2.69 6 6c0 2.97-2.17 5.43-5 5.91v2.02c3.95-.49 7-3.85 7-7.93c0-4.42-3.58-8-8-8m-6 8c0-1.65.67-3.15 1.76-4.24L6.34 7.34A8 8 0 0 0 4 13c0 4.08 3.05 7.44 7 7.93v-2.02c-2.83-.48-5-2.94-5-5.91"/>
        </svg>
    </button>
    <span class="next-hint">
                next ▶ {{ slide.next_hint|default('Explain this step') }}
                <span class="arrow">›</span>
            </span>
</div>

<script>
    function slideStartOver() {
        Reveal.slide(0, 0);
        Reveal.sync();
    }

    function toggleSlidesOverview() {
        Reveal.toggleOverview();
    }
</script>

</body>

</html>
