{# file: templates/step/action/bash.html.twig #}

<div class="action action-bash card {{ options.loop.index > 1 ? 'fragment' }}">
    <h3>Loop Index: {{ options.loop.index }}</h3>
    <div class="card-body ">
        {% if action.note %}
        <p class="mb-3 mt-0 text-start">{{ action.note }}</p>
        {% endif %}
        <pre><code class="language-{{ action.highlightLanguage|default('bash') }}" data-trim data-noescape>
{% for command in action.commands %}{{ command }}
{% endfor %}
            </code></pre>
        {% if action.a %}
        <div class="text-start mt-3">
            <span class="fw-semibold">{{ action.a }}</span>
        </div>
        {% endif %}
    </div>
</div>
