{# file: templates/step/action/bullet.html.twig #}
<div class="action action-bash card {{ options.loop.index > 1 ? 'fragment' }}">

{% if action.style == 'list' %}

    <ul class="slide-bullets">
        Render these with size {{ action.size }}
        {% for b in action.msg %}
            {% if b %}
            <li class=" {{ action.fade ? 'fragment' }} custom">{{ b|raw }}</li>
            {% endif %}
        {% endfor %}
    </ul>

{#    <div class="action action-code card">#}
{#        <div class="card-body text-start">#}
{#            <ul>#}
{#            {% for msg in action.msg %}#}
{#                <li {{ action.fade ? 'class="fragment"' }}>{{ msg }}</li>#}
{#            {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{% elseif action.style == 'callout' %}
    <div class="my-3">
        {% for msg in action.msg %}
        <div class="alert alert-success fragment">
            <div class="alert-icon">
                {{ ux_icon('mdi:checkbox-marked-circle-outline') }}
            </div>
            <span class="alert-description text-success">{{ msg }}</span>
        </div>
        {% endfor %}
    </div>
{% else %}
Missing action.style in {{ _self }}
{% endif %}
</div>
