<div class="action action-composer card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span class="fw-bold">Composer</span>
        {% if dev %}
        <span class="badge badge-pill bg-warning text-dark">dev</span>
        {% endif %}
    </div>
    <div class="card-body">
        {% if note %}
        <p class="mb-3 mt-0 text-start">{{ note }}</p>
        {% endif %}
        {{ dev ? 'dev' }}
        {% if packages is defined and packages %}
        {% set code %}
        {% for p in packages %}composer req {{ dev ? '-dev' }} {{ p }}
        {% endfor %}
        {% endset %}
        <pre>
            <code class="language-{{ lang|default('bash') }}" data-trim data-noescape>{{ code }}</code>
        </pre>
{#      <ul class="mb-2">#}
{#          {% for p in packages %}#}
{#          <li><code>composer req {{ dev ? '-dev' }} {{ p }}</code></li>#}
{#          {% endfor %}#}
{#      </ul>#}
        {% endif %}
    </div>
</div>
