{# file: templates/step/action/display_code.html.twig #}
<div class="action action-bash card code-fs-{{action.size}}">
    <div class="card-body">
        {% if note %}
        <i class="mb-3 mt-0 text-start">{{ note }}</i>
        {% endif %}
        {% if action.path %}
{#        <div class="mb-3">{{ action.artifactLocator.relative(action.project, action.path) }}</div>#}
{#        {{ dump(action.artifactLocator.publishPath(action.path)) }}#}
        {% endif %}
        <pre><code class="language-{{ lang|default('text') }}" data-trim data-noescape>{{ code }}</code></pre>
    </div>
</div>
