{# file: templates/step/action/env.html.twig #}
<div class="action action-bash card">
    <div class="card-header d-flex justify-content-center align-items-center">
        <span class="fw-bold text-muted">{{ action.file }}</span>
    </div>
    <div class="card-body">
        {#  {{ _self }}#}
        {#  {% if command %}#}
        {#  <code class="small text-muted">cwd: {{ command }}</code>#}
        {#  {% endif %}#}
        <pre>
            <code class="language-{{ action.lang|default('bash') }}" data-trim data-noescape>{{ action.key }}={{ action.cfg.default|default('') }}</code>
        </pre>
    </div>
</div>
