<div class="action action-bash card shadow-sm mb-3">
{#  <div class="card-header d-flex justify-content-between align-items-center">#}
    <span class="fw-semibold">{{ action.file }}</span>
{#    {{ _self }}#}
{#    {% if command %}<code class="small text-muted">cwd: {{ command }}</code>{% endif %}#}
{#  </div>#}
  <div class="card-body">
    <pre class="mb-0"><code class="language-{{ action.lang|default('bash') }}">{{ action.key }}={{ action.cfg.default|default('') }}</code></pre>
  </div>

</div>
