<div class="action action-importmap card">
    <div class="card-header">
        <span class="fw-bold">Importmap</span>
    </div>
    <div class="card-body">
        {% if note %}
        <p class="mb-3 mt-0 text-start">{{ note }}</p>
        {% endif %}
        {% if packages is defined and packages %}
        <ul class="mb-2">
            {% if packages is iterable and packages|length > 0 %}
            {% for key,val in packages %}
            {% if key is same as(loop.index0) %}
            <li>
                <code>{{ val }}</code>
            </li>
            {% else %}
            <li>
                <code>{{ key }}</code>
                {% if val %}
                <span class="text-muted">@ {{ val }}</span>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
        {% endif %}
        <pre><code class="language-bash" data-trim data-noescape>{{ code }}</code></pre>
    </div>
</div>
